**/experiments
**/__pycache__
**/pubmed-rct
*.index
JSCReplication/cache.txt.data-00000-of-00001
JSCReplication/model.png
JSCReplication/metrics.csv
JSCReplication/checkpoints/Final.weights.h5
JSCReplication/saves/models/Model.h5
/RCTabstractmodel/datasets/
/RCTabstractmodel/cache/
/RCTabstractmodel/serialization/
/RCTabstractmodel/training/checkpoints/
/RCTabstractmodel/training/training_data/
/RCTabstractmodel/testing/confusion_matrix_testing.png
/RCTabstractmodel/testing/classification_report_testing.csv